@model MVCSimpleObj.Models.IFighter

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>IFighter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="editor-field">
                <!-- Drop down list for fighter choices -->
                @Html.LabelFor(m => m.FighterType)
                @Html.DropDownListFor(m => m.FighterType, new SelectList(ViewBag.FighterType, Model.FighterType))
                @Html.ValidationMessageFor(m => m.FighterType)
            </div>

            <div class="form-group">
                <input type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

